mutt/.mutt/aliases
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/bookmarks/*
qutebrowser/.config/qutebrowser/autoconfig.yml
vim/.config/nvim/.netrwhist
vim/.config/nvim/autoload
systemd/.config/systemd/user/default.target.wants
fish/.config/fish/fish_variables
fish/.config/fish/functions/__fzf*
fish/.config/fish/conf.d/
doom-emacs/.config/doom/custom.el
.clj-kondo/
.lsp/
**/*.rej
