.reveal strong,
.reveal b {
    color: red;
    font-weight: normal;
}

.reveal em {
    color: greenyellow;
    font-style: normal;
}

.reveal del {
    color: lightslategray;
    text-decoration: none;
}
